<!DOCTYPE html>
<html>

<head>
    <title>Edit.markdown</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="../build/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../build/lib/flat-ui/dist/css/flat-ui.css" rel="stylesheet">
    <link rel="stylesheet" href="../build/lib/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="../build/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/index.css" />
 
    <script src="../build/lib/codemirror/lib/codemirror.js"></script>
    <script src="../build/lib/codemirror/mode/markdown/markdown.js"></script>
    <script>
        
    </script>
</head>

<body  ng-controller="AppController as vm">

    <div class="maincss fbox-column">
        <nav class="navbar  navbar-inverse title_bar"
            ng-dblclick="vm.maxWindow()" role="navigation">
            
            <div class="navbar-header">
            
                    <div   class="navbar-brand"><img  width="30px" src="img/logo.png"></div>
                   
                    <H1 class="navbar-brand"  style="padding-left: 0">Edit.MarkDown</H1>
                 
                
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-01">
                <ul class="nav navbar-nav">
                    <li>
                        <form class="navbar-form " action="#" role="search">
                            <div class="form-group">
                                <input-search   on-search="vm.searchKey(key)"></input-search>
                            </div>
                        </form>
                    </li>
                </ul>
                <div class="navbar-right">
                    <a class="btn btn-default navbar-btn" title="最小化" ng-click="vm.minWindow()" 
                    href="javascript:void(0)">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                    </a>
                    <a class="btn btn-default navbar-btn" title="关闭" 
                    ng-click="vm.closeWindow()"
                    href="javascript:void(0)">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </a>

                </div>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
        <!-- /navbar -->
        <div class="center fbox">
            <div class="panel panel-default left-panel ">
                <div class="panel-heading fbox ">
                    <a class=" btn btn-success btn-xs fa fa-folder-open-o" href="javascript:void(0)" title="打开文件" ng-click="vm.addFile()">
                    </a> 
                    <a class=" btn btn-success btn-xs  fa  fa-file-code-o" href="javascript:void(0)" title="导出预览结果到Html" ng-click="vm.exportHtml()">
                    </a> 
                    <a class=" btn btn-success btn-xs  fa fa-plus  " href="#" title="新建文件" ng-click="vm.newFile()">
                    </a>
                    <a class=" btn btn-success btn-xs  fa " ng-class="{'fa-eye':!vm.isPreview,'fa-eye-slash':vm.isPreview}" href="#" title="预览" ng-click="vm.preview()">
                    </a>
                </div>
                <!-- List group -->
                <ul class="list-group">
                  <li class="list-group-item fbox" ng-repeat="(key, file) in vm.fileList"
                         ng-class="{'select-css':vm.currentFile==key}"                     
                  >
                        <a  ng-click="vm.openFile(key)" href="javascript:void(0)">
                            <i class="fa fa-file-text-o"></i>{{file.name}}</a>
                        <div class="opt">
                            <a ng-show="file.isChanged" class="btn btn-info btn-xs fa fa-floppy-o" title="保存" ng-click="vm.saveFile(key)" href="javascript:void(0)">
                            </a>
                            <a ng-click="vm.removeFile(key)" class="btn btn-info btn-xs fa fa-minus  " title="移除" href="javascript:void(0)">
                            </a>
                        </div>
                    </li> 
                   
                </ul>
            </div>
            <!-- /.left-panel -->
            <div class="edit-body  ">
                <textarea id="editarea" name="code"></textarea>
                <iframe class="preview" ng-show="!vm.isPreview">asdfsadfasd</iframe>
            </div>
        </div>
        <!-- /.center -->
        <div id="footer" class="fbox-vcenter">
           <div>
            当前编辑文件：{{vm.currentFile}}  </div> 
         
        </div>
    </div>
    <script type="text/javascript" src="../build/lib/angular/angular.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controller.js"></script>    
    <script type="text/javascript" src="js/component.js"></script>
    <script src="http://localhost:35729/livereload.js"></script>
</body>

</html>
